@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:300,400');

// Colors
$primary-color: #2F4858;
$secondary-color: #336699;
$accent-color: #9EE493;
// Fonts

$primary-font: 'Nunito', sans-serif;
$heading-font: 'Nunito', sans-serif;


