@import "variables";
@import "mixins";
@import "overrides";
@import "animations";

// Fonts
h1, h2 ,h3 ,h4 ,h5 ,h6 {
  font-family: $heading-font;
  font-weight: 300;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.4em;
}

h6 {
  font-size: 1.2em;
}

p, a, span, div, ul, li {
  font-family: $primary-font;
  font-size: 1em;
}

//Navigation Styles

#topNav{
  animation: dropDown 3.2s ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

#mainNavMenu {
  padding: 0;
  #menuContainer {
    float: right;
  }
  span {
    li {
      display: inline-block;
      color: #FFF;
      text-transform: uppercase;
    padding: 1em 2em;
      a {
        color:#FFF;
      }
    }
  }
}

#topNav.scroll {
  background: #FFF;
  @include box-shadow;
  li{
    color: #000;
    a {
      color: #000;
    }
  }
}

// Hero Styles
.hero-text {
  text-align: center;
  color: #FFF;
  margin-top: 25vh;
  width: 100%;

  h1, h3 {
    margin: 0;
  }
}

svg#animatedLogo {
  fill: #fff;
  width: 511px;
  height: 205px;
}

#left-carrot {
  animation: left-animation 2s ease-in-out;
}

#slash,
#right-carrot {
  animation: right-animation 2s ease-in-out;
}

#firstM {
  animation: firstM 2s ease-in-out;
}

#secondM {
  animation: secondM 2s ease-in-out;
}

#name {
  animation: fadeIn 2.5s ease-in-out;
}

#line {
  animation: fadeIn 2.8s ease-in-out;
}
#tagline {
  animation: fadeIn 3s ease-in-out;
}
#title {
  animation: fadeIn 2.5s ease-in-out;
}

#viewMore {
  position: absolute;
  bottom: 5vh;
  left: calc(50% - 25px);
  color: #FFF;
  animation: slideUp 4.2s ease-in;
  img{
    width: 50px;
    animation: pulse 3s 4s linear infinite;
  }
}

.project-container{
  display: inline-block;
  margin: 1em auto;
  @include box-shadow;
  height: 225px;
  overflow: hidden;

  .project-description{
    text-align: center;
  }
}

img.logo {
  height: 100%;
  width: 20em;
  margin: 0 auto;
  position: relative;
}

#mapid {
  height: 80vh;
  min-height: 500px;
  width: 100%;
}

.playground {

  >h1,h2,h3,h4,h5,h6 {
    color: $primary-color;
  }
  .ui.icon.input {
    width: 100%;
  }

  .ui.search .prompt {
    border-radius: 5px;
  }

  .ui.card {
    margin: 1em auto;
    width: 100%;
  }

  .ui.pointing.secondary.menu {
    .item {
      text-align: center;
      margin: 0 auto;
      width: 32%;
      display: block;
      position: relative;
    }
    a {
      color: $primary-color;
    }
    .active.item {
        color: $secondary-color;
        border-color: $secondary-color;
    }
  }
}

